{
  "openapi": "3.1.0",
  "info": {
    "title": "Lumify SDK contract",
    "version": "1.0.0",
    "description": "Filtered slice of the live Lumify OpenAPI schema (/v1 + /api/agent only). Generated by scripts/export_openapi_sdk.py \u2014 do not edit by hand."
  },
  "servers": [
    {
      "url": "https://lumify.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/agent/credit-packs": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "List purchasable credit packs",
        "operationId": "get_credit_packs_api_agent_credit_packs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditPackListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/credits": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Get credit balance and usage",
        "operationId": "get_credits_api_agent_credits_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreditsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/credits/topup": {
      "post": {
        "tags": [
          "agent"
        ],
        "summary": "Purchase a credit pack",
        "operationId": "topup_credits_api_agent_credits_topup_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": true,
                "type": "object",
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTopupResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/keys": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "List API keys",
        "operationId": "get_keys_api_agent_keys_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentApiKeyListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "agent"
        ],
        "summary": "Create an API key",
        "operationId": "create_key_api_agent_keys_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": true,
                "type": "object",
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentApiKey"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/keys/{key_id}": {
      "delete": {
        "tags": [
          "agent"
        ],
        "summary": "Revoke an API key",
        "operationId": "delete_key_api_agent_keys__key_id__delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Key Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentApiKeyRevokeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/estimate": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Estimate the credit cost of a planned call (or batch of calls)",
        "operationId": "estimate_cost_v1_estimate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Min/max credit range per requested call, plus totals. Costs are data-dependent (e.g. odds/intelligence/splits not yet ingested are free), so this is a range, not an exact number \u2014 the real call's X-Credits-Used response header reports what it actually billed. Estimating is always free (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Estimate Cost V1 Estimate Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/estimate/tools": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List the tools /v1/estimate understands",
        "operationId": "list_estimate_tools_v1_estimate_tools_get",
        "responses": {
          "200": {
            "description": "Supported tool names, grouped by how their cost varies.",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response List Estimate Tools V1 Estimate Tools Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List events",
        "operationId": "list_events_v1_events_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sport slug: nfl, nba, mlb, nhl, tennis, soccer\u2026",
              "title": "Sport"
            },
            "description": "Sport slug: nfl, nba, mlb, nhl, tennis, soccer\u2026"
          },
          {
            "name": "league",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "League slug: nfl, nba, atp, fifa_world_cup\u2026",
              "title": "League"
            },
            "description": "League slug: nfl, nba, atp, fifa_world_cup\u2026"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Event status: scheduled|inprogress|final|\u2026",
              "title": "Status"
            },
            "description": "Event status: scheduled|inprogress|final|\u2026"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC date YYYY-MM-DD (single day)",
              "title": "Date"
            },
            "description": "UTC date YYYY-MM-DD (single day)"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC start date YYYY-MM-DD",
              "title": "From"
            },
            "description": "UTC start date YYYY-MM-DD"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC end date YYYY-MM-DD (inclusive)",
              "title": "To"
            },
            "description": "UTC end date YYYY-MM-DD (inclusive)"
          },
          {
            "name": "season_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by season ID",
              "title": "Season Id"
            },
            "description": "Filter by season ID"
          },
          {
            "name": "team_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to events where this team participates. Resolve ids via GET /v1/teams?q=\u2026",
              "title": "Team Id"
            },
            "description": "Filter to events where this team participates. Resolve ids via GET /v1/teams?q=\u2026"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor: return events with id > after_id",
              "title": "After Id"
            },
            "description": "Cursor: return events with id > after_id"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "include_scores",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Inline participants + scores in each event. Intended for small result sets (\u2264 200 events).",
              "default": false,
              "title": "Include Scores"
            },
            "description": "Inline participants + scores in each event. Intended for small result sets (\u2264 200 events)."
          },
          {
            "name": "has_recommend",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "When true, return only events with at least one recommended bet (has_recommend=1 in intelligence). Requires intelligence pipeline to have run.",
              "title": "Has Recommend"
            },
            "description": "When true, return only events with at least one recommended bet (has_recommend=1 in intelligence). Requires intelligence pipeline to have run."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort order: 'time' (chronological, default) or 'status' (Live \u2192 Delayed/Upcoming \u2192 Final \u2192 Cancelled/Postponed). Cursor pagination (after_id) is not supported with sort=status.",
              "default": "time",
              "title": "Sort"
            },
            "description": "Sort order: 'time' (chronological, default) or 'status' (Live \u2192 Delayed/Upcoming \u2192 Final \u2192 Cancelled/Postponed). Cursor pagination (after_id) is not supported with sort=status."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated event list, newest first within the requested window",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Events V1 Events Get",
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/batch": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Get multiple events in one call",
        "description": "Fetch multiple events by id in a single round-trip \u2014 for agents that\nalready have a list of ids (e.g. from GET /v1/events) and want full detail\nfor each without issuing one GET per event.\n\nBody: {\"event_ids\": [1, 2, 3], \"include_odds\": bool, \"include_intelligence\": bool, \"bookmaker\": str}\nMax 25 ids per call. Duplicate ids are billed once. Credits are the sum of\neach event's normal GET /v1/events/{id} cost \u2014 billing fairness applies\nper event (unavailable odds/intelligence are free; ids that don't exist\ncost nothing and are returned under \"not_found\").",
        "operationId": "batch_get_events_v1_events_batch_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchEventsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Requested events (each shaped like GET /v1/events/{id}) plus any ids not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchEventsResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Batch Get Events V1 Events Batch Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get an event",
        "operationId": "get_event_v1_events__event_id__get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "include_odds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Inline current odds into the response under the 'odds' key. Scoped by bookmaker (default: pinnacle). +1 credit for a single book; +2 credits for bookmaker=all or a comma-separated list.",
              "default": false,
              "title": "Include Odds"
            },
            "description": "Inline current odds into the response under the 'odds' key. Scoped by bookmaker (default: pinnacle). +1 credit for a single book; +2 credits for bookmaker=all or a comma-separated list."
          },
          {
            "name": "include_intelligence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Inline bet intelligence (signals, bets, narratives) into the response under the 'intelligence' key. Costs +1 credit (total 2 for this call).",
              "default": false,
              "title": "Include Intelligence"
            },
            "description": "Inline bet intelligence (signals, bets, narratives) into the response under the 'intelligence' key. Costs +1 credit (total 2 for this call)."
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker filter for inlined odds (when include_odds=true) and for intelligence.bets[].market prices (when include_intelligence=true). Valid values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, hardrock, betonline, all. Defaults to pinnacle.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker filter for inlined odds (when include_odds=true) and for intelligence.bets[].market prices (when include_intelligence=true). Valid values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, hardrock, betonline, all. Defaults to pinnacle."
          }
        ],
        "responses": {
          "200": {
            "description": "Full event with participants, venue, and schedule metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event V1 Events  Event Id  Get",
                  "$ref": "#/components/schemas/EventDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/intelligence": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get bet intelligence for an event",
        "operationId": "get_event_intelligence_v1_events__event_id__intelligence_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker to use for market.price and market.line in the response. Overrides the system default (pinnacle). Valid values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, hardrock, betonline. Applies to the points-model shape only \u2014 probability-model sports (soccer/MLS) always report the book their assessment was priced against, since quoting a different book's price beside a probability computed from another would misstate fair_price and edge.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker to use for market.price and market.line in the response. Overrides the system default (pinnacle). Valid values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, hardrock, betonline. Applies to the points-model shape only \u2014 probability-model sports (soccer/MLS) always report the book their assessment was priced against, since quoting a different book's price beside a probability computed from another would misstate fair_price and edge."
          }
        ],
        "responses": {
          "200": {
            "description": "Bet-level probabilities and market odds for all bet tokens. bets[] comes in two shapes; branch on the presence of `probability` (probability model) vs. `confidence_score` (points model), or on `sport`/`league`. Full per-field definitions are on the BetIntelligence schema. \n\n**Probability model \u2014 currently soccer/MLS only:** bets[] carries probability, interval, p_model, p_market, blend_w, fair_price, edge, sufficiency, phase, model_version, tier, and drivers \u2014 and no confidence_score, coverage, signals, or validator. `probability` is a calibrated probability whose outcomes sum to 1 within a market; `p_market` is the de-vigged market price. Where no fitted model has yet been cleared for a league, `blend_w` is 0, `probability` equals `p_market`, and `p_model`/`edge`/`tier` are null \u2014 a probability taken from the market has no honest edge against the price it came from. `drivers` is normally empty in that case; two exceptions carry `effect: 0` and never move probability: Stage 6 Match Context drivers (`soccer.match_context.*`), which may cite the Fact Ledger, and `soccer.cross_book_edge`, the market-anchored price gap already published in `edges_by_book`/`best_edge` (a line-shopping signal, not an expected-value claim). Those fields populate per league and per bet token as models clear out-of-sample validation. The `bookmaker` query parameter does not apply to this shape: assessments are priced against a fixed book, reported as `odds_source` and per-bet `market.book`. \n\n**Points model \u2014 every other sport/league:** bets[] carries confidence_score, coverage, tier, signals, validator, narrative, rationale, and attribution. MLB tokens: ML_P1 (home), ML_P2 (away), SPREAD_P1, SPREAD_P2, OVER, UNDER. Tennis tokens: ML_P1, ML_P2, SPREAD_P1, SPREAD_P2, OVER, UNDER. Soccer tokens: ML_HOME, ML_AWAY, ML_DRAW, SPREAD_HOME, SPREAD_AWAY, OVER, UNDER. signal_* keys are shared fields that mean different things per sport (e.g. signal_serve_rtn is tennis Serve/Return but soccer Attack/Defense Edge) \u2014 for NFL, NCAAF, and soccer, bets[].signals._labels maps each present key to its sport-specific label; omitted for tennis/MLB. \n\nIn both shapes, match-level tokens (OVER, UNDER, ML_DRAW) carry no participant attribution: player_role, player_id, team_id, and player_name are null, since those bets are not about either side. \n\nBoth shapes also include the event-level analyst_take and match_overview narratives. If no intelligence has been computed for this event yet, returns 200 with available=false and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Intelligence V1 Events  Event Id  Intelligence Get",
                  "$ref": "#/components/schemas/IntelligenceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/odds": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get current betting odds for an event",
        "operationId": "get_event_odds_v1_events__event_id__odds_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker filter. Default: pinnacle. Accepted values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, hardrock, betonline, all, or a comma-separated list (e.g. 'fanduel,betmgm'). Single book = 1 credit; multiple or 'all' = 2 credits.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker filter. Default: pinnacle. Accepted values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, hardrock, betonline, all, or a comma-separated list (e.g. 'fanduel,betmgm'). Single book = 1 credit; multiple or 'all' = 2 credits."
          }
        ],
        "responses": {
          "200": {
            "description": "Current moneyline, spread, and total lines for the requested bookmaker(s). Default is Pinnacle only (1 credit). Use bookmaker=all or a comma-separated list (e.g. bookmaker=fanduel,draftkings) to fetch multiple books (2 credits). Markets are grouped by type (h2h \u2192 moneyline, spreads \u2192 spread, totals \u2192 totals). If no odds have been ingested for this event yet, returns 200 with available=false and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Odds V1 Events  Event Id  Odds Get",
                  "$ref": "#/components/schemas/OddsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/odds/history": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get line movement history for an event",
        "operationId": "get_event_odds_history_v1_events__event_id__odds_history_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker filter. Default: pinnacle. Accepted values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, hardrock, betonline, all, or a comma-separated list. Single book = 1 credit; multiple or 'all' = 2 credits.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker filter. Default: pinnacle. Accepted values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, hardrock, betonline, all, or a comma-separated list. Single book = 1 credit; multiple or 'all' = 2 credits."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max movements to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max movements to return"
          }
        ],
        "responses": {
          "200": {
            "description": "All recorded line movements (price or point changes) for the event, ordered newest-first. Useful for detecting sharp line movement. If no movement has been recorded for this event yet, returns 200 with an empty movements list and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Odds History V1 Events  Event Id  Odds History Get",
                  "$ref": "#/components/schemas/OddsHistoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/score": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get an event's score",
        "operationId": "get_event_score_v1_events__event_id__score_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Lightweight score snapshot: status, period, clock, and per-participant scores. Cache TTL is 30 s for in-progress events, 5 min otherwise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Score V1 Events  Event Id  Score Get",
                  "$ref": "#/components/schemas/ScoreResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/splits": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get public betting splits for an event",
        "description": "Public bets% and handle% per side (moneyline, spread, total), with a cross-book consensus and per-bookmaker breakdown. Available for MLB, NBA, NHL, and NFL. Not available for tennis, soccer, or NCAAF (upstream Owls Insight v1 does not expose splits for these). available:false is free.",
        "operationId": "get_event_splits_v1_events__event_id__splits_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Public bets% and handle% per side, per market, per bookmaker. Also includes a consensus (average across books) for quick use. Available for MLB, NBA, NHL, and NFL; not for tennis, soccer, or NCAAF. If no splits have been ingested for this event (or the sport is unsupported), returns 200 with available=false and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Splits V1 Events  Event Id  Splits Get",
                  "$ref": "#/components/schemas/SplitsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/stats": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get raw team/match statistics for an event (Data layer)",
        "description": "Soccer and MLB. Returns deterministic aggregates from completed results and box scores already ingested \u2014 no market/odds data (see /odds) and no scoring/confidence (see /intelligence). Soccer: team strength (club: rank/GD/W-D-L; WC: fifa_rank), recent form, H2H, rest days, home/away splits, boxscore rates (shots/SoT for&against, possession, save_rate), strength-of-schedule (sos), and lineups/formation. MLB: season W/L record + run differential, recent form, H2H, rest days, team batting/pitching rates (rates_l5/rates_season \u2014 AVG/ERA/WHIP/K9/BB9 and component counts), today's starting pitcher's season ERA/WHIP/K9/BB9, and lineup (batting order + starting pitcher + subs). Explicit windows on both. available:false is free.",
        "operationId": "get_event_stats_v1_events__event_id__stats_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deterministic, reproducible team and match statistics computed from completed results and box scores already ingested from the public record. Soccer: team strength, recent form, head-to-head history, rest days, home/away splits, per-game boxscore rates (shots/SoT for & against, possession, corners, cards, save rate) over explicit windows (rates_l5 / rates_season), club league-table rank/GD/W-D-L, strength-of-schedule (avg opponent PPG), and lineups/formation when ingested. MLB: season-to-date W/L record + run differential, recent form, head-to-head history, rest days, team batting/pitching rate aggregates (rates_l5 / rates_season), the game's starting pitcher's own season ERA/WHIP/K9/BB9, and lineup (batting order + starting pitcher + in-game subs) when ingested from completed-game box scores (Path A is post-final only \u2014 no pregame probable pitchers). Contains no market/odds data (see GET /v1/events/{id}/odds for that) and no scoring, weighting, confidence, or narrative \u2014 that judgment layer lives at GET /v1/events/{id}/intelligence, which scores related inputs (soccer scores these same Data-layer fields; MLB intelligence still largely live-fetches overlapping signals). Currently available for soccer and MLB only. If an event has too few completed games for a given field, that field returns null (with games: 0 on rate blocks) rather than the whole call failing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response 200 Get Event Stats V1 Events  Event Id  Stats Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MlbStatsResponse"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/stream": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Stream live score updates (SSE)",
        "operationId": "stream_event_score_v1_events__event_id__stream_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "text/event-stream of score updates; emits on change only.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health",
        "operationId": "health_v1_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/players": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "List players",
        "operationId": "list_players_v1_players_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sport slug, e.g. 'tennis' or 'mlb'",
              "title": "Sport"
            },
            "description": "Sport slug, e.g. 'tennis' or 'mlb'"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name search (partial match)",
              "title": "Q"
            },
            "description": "Name search (partial match)"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 3166-1 alpha-3 country code, e.g. 'USA'",
              "title": "Country"
            },
            "description": "ISO 3166-1 alpha-3 country code, e.g. 'USA'"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by active status",
              "title": "Active"
            },
            "description": "Filter by active status"
          },
          {
            "name": "ranked",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "If true, only players with a tennis ranking",
              "title": "Ranked"
            },
            "description": "If true, only players with a tennis ranking"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Cursor: last player id from previous page",
              "default": 0,
              "title": "After Id"
            },
            "description": "Cursor: last player id from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayersListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/players/{player_id}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "Get a player",
        "operationId": "get_player_v1_players__player_id__get",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Player Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/players/{player_id}/events": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "List a player's events",
        "operationId": "get_player_events_v1_players__player_id__events_get",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Player Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Event status filter",
              "title": "Status"
            },
            "description": "Event status filter"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date YYYY-MM-DD",
              "title": "From"
            },
            "description": "Start date YYYY-MM-DD"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date YYYY-MM-DD",
              "title": "To"
            },
            "description": "End date YYYY-MM-DD"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Cursor: last event id from previous page",
              "default": 0,
              "title": "After Id"
            },
            "description": "Cursor: last event id from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerEventsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/query": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Natural-language event search",
        "description": "Map a natural-language query to the same filters GET /v1/events accepts,\nthen run that exact list query \u2014 results are identical to, and as fresh\nas, calling /v1/events directly. This is a small rule-based mapper, not an\nLLM call \u2014 see the module-level `_parse_nl_query` docstring for exactly\nwhat it recognizes.\n\nBody: {\"query\": \"live nfl games today\", \"limit\": 25}\nAn explicit top-level \"limit\" overrides one parsed from the text. Costs 1\ncredit, same as GET /v1/events \u2014 interpreting the query text is free.",
        "operationId": "query_events_v1_query_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NLQueryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Events matching the parsed query, the interpreted filters, and their REST equivalent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NLQueryResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Query Events V1 Query Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/seasons": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "List seasons",
        "operationId": "list_seasons_v1_seasons_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by sport slug (e.g. nhl, nba, soccer)",
              "title": "Sport"
            },
            "description": "Filter by sport slug (e.g. nhl, nba, soccer)"
          },
          {
            "name": "current_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only currently active seasons (default true). Pass false to include historical/past seasons.",
              "default": true,
              "title": "Current Only"
            },
            "description": "Return only currently active seasons (default true). Pass false to include historical/past seasons."
          }
        ],
        "responses": {
          "200": {
            "description": "Seasons per sport/league, optionally filtered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/sports": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "List sports",
        "operationId": "list_sports_v1_sports_get",
        "parameters": [
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only active sports (default true)",
              "default": true,
              "title": "Active Only"
            },
            "description": "Return only active sports (default true)"
          }
        ],
        "responses": {
          "200": {
            "description": "Active sports with their leagues and current season summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/teams": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "List teams",
        "operationId": "list_teams_v1_teams_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sport slug, e.g. 'nba' or 'nhl'",
              "title": "Sport"
            },
            "description": "Sport slug, e.g. 'nba' or 'nhl'"
          },
          {
            "name": "league",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "League slug, e.g. 'nba'",
              "title": "League"
            },
            "description": "League slug, e.g. 'nba'"
          },
          {
            "name": "conference",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Conference filter",
              "title": "Conference"
            },
            "description": "Conference filter"
          },
          {
            "name": "division",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Division filter",
              "title": "Division"
            },
            "description": "Division filter"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO country code, e.g. 'USA'",
              "title": "Country"
            },
            "description": "ISO country code, e.g. 'USA'"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Team name search (partial match)",
              "title": "Q"
            },
            "description": "Team name search (partial match)"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by active status",
              "title": "Active"
            },
            "description": "Filter by active status"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Cursor: last team id from previous page",
              "default": 0,
              "title": "After Id"
            },
            "description": "Cursor: last team id from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated team list, filterable by sport/league/conference/division/country.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/teams/{team_id}": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Get a team",
        "operationId": "get_team_v1_teams__team_id__get",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Lumify team ID",
              "title": "Team Id"
            },
            "description": "Lumify team ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Team profile with home venue.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/trial-key": {
      "post": {
        "tags": [
          "trial"
        ],
        "summary": "Issue an instant, unauthenticated trial API key",
        "description": "Issues a throwaway API key with no signup or email verification \u2014 100 lifetime credits, 14-day expiry, one per network per 7 days. Requires a valid Cloudflare Turnstile token. Intended for the 'Get instant trial key' button on /docs/ai, not for building a persistent integration \u2014 use /register for that.",
        "operationId": "create_trial_key_v1_trial_key_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrialKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "List webhook subscriptions",
        "operationId": "list_webhooks_v1_webhooks_get",
        "responses": {
          "200": {
            "description": "The caller's webhook subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "Create a webhook subscription",
        "operationId": "create_webhook_v1_webhooks_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": true,
                "type": "object",
                "title": "Payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created webhook subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/webhooks/{subscription_id}": {
      "delete": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "Delete a webhook subscription",
        "operationId": "delete_webhook_v1_webhooks__subscription_id__delete",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Subscription Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/webhooks/{subscription_id}/deliveries": {
      "get": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "List delivery history for a webhook subscription",
        "operationId": "list_webhook_deliveries_v1_webhooks__subscription_id__deliveries_get",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Subscription Id"
            }
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor: return deliveries with id < after_id (list is newest-first)",
              "title": "After Id"
            },
            "description": "Cursor: return deliveries with id < after_id (list is newest-first)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "success",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to successful (2xx) or failed deliveries",
              "title": "Success"
            },
            "description": "Filter to successful (2xx) or failed deliveries"
          },
          {
            "name": "given_up",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to deliveries that exhausted retries (or not)",
              "title": "Given Up"
            },
            "description": "Filter to deliveries that exhausted retries (or not)"
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event type (score, status, line_move, intelligence)",
              "title": "Event Type"
            },
            "description": "Filter by event type (score, status, line_move, intelligence)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated delivery attempts, newest first. Retries appear as their own rows, linked via parent_delivery_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveryListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AgentApiKey": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "key_prefix": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Key Prefix"
          },
          "scopes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scopes"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "last_used_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Used At"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At"
          },
          "is_active": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Active"
          },
          "key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Key",
            "description": "Full API key \u2014 returned once on create."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentApiKey"
      },
      "AgentApiKeyListResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/AgentApiKey"
            },
            "type": "array",
            "title": "Data",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentApiKeyListResponse"
      },
      "AgentApiKeyRevokeResponse": {
        "properties": {
          "revoked": {
            "type": "boolean",
            "title": "Revoked",
            "default": true
          },
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentApiKeyRevokeResponse"
      },
      "AgentCreditsResponse": {
        "properties": {
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "credits_used": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credits Used"
          },
          "credit_limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Limit"
          },
          "bonus_credits": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bonus Credits"
          },
          "total_remaining": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Remaining"
          },
          "period_start": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period Start"
          },
          "period_end": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period End"
          },
          "is_trial": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Trial"
          },
          "is_trial_expired": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Trial Expired"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentCreditsResponse"
      },
      "BatchEventsRequest": {
        "properties": {
          "event_ids": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "maxItems": 25,
            "minItems": 1,
            "title": "Event Ids",
            "description": "Event ids to fetch (max 25). Duplicates are billed once."
          },
          "include_odds": {
            "type": "boolean",
            "title": "Include Odds",
            "description": "Inline current odds on each event. Scoped by bookmaker (default: pinnacle). +1 credit per event for a single book when available; +2 for bookmaker=all or a comma-separated list.",
            "default": false
          },
          "include_intelligence": {
            "type": "boolean",
            "title": "Include Intelligence",
            "description": "Inline bet intelligence on each event (+1 credit per event when available).",
            "default": false
          },
          "bookmaker": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bookmaker",
            "description": "Bookmaker for inlined odds and intelligence market prices. Defaults to pinnacle; 'all' or a comma-separated list for multiple books."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "event_ids"
        ],
        "title": "BatchEventsRequest"
      },
      "BatchEventsResponse": {
        "properties": {
          "events": {
            "items": {
              "$ref": "#/components/schemas/EventDetail"
            },
            "type": "array",
            "title": "Events",
            "default": []
          },
          "not_found": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Not Found",
            "description": "Requested event_ids that don't exist. Never billed.",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "BatchEventsResponse"
      },
      "BetIntelligence": {
        "properties": {
          "bet_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bet Type",
            "description": "Canonical bet token, e.g. ML_HOME/ML_AWAY/ML_DRAW (soccer), ML_P1/ML_P2 (head-to-head sports), SPREAD_HOME/SPREAD_AWAY, OVER, UNDER."
          },
          "player_role": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Player Role",
            "description": "'home'/'away' for team sports or 'p1'/'p2' for head-to-head sports. Null for match-level tokens (OVER, UNDER, ML_DRAW), which are not about either side."
          },
          "player_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Player Id",
            "description": "Player ID when this bet is about an individual player; null for team bets and match-level tokens (OVER, UNDER, ML_DRAW)."
          },
          "team_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Team Id",
            "description": "Team ID when this bet is about a team; null for individual-player bets and match-level tokens (OVER, UNDER, ML_DRAW). A draw is not a bet on either team, so ML_DRAW carries no team_id \u2014 safe to sum exposure by team_id across bets without double-counting the draw."
          },
          "player_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Player Name",
            "description": "Display name of the player or team this bet is about; null for match-level tokens (OVER, UNDER, ML_DRAW). Duplicates `players[player_role].name` for convenience when flattening bets[]."
          },
          "market": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Market",
            "description": "Market quote used for this bet: {price: American odds, line: handicap/total line or null for moneyline, book: bookmaker slug when known}. For predictive-framework sports `book` is always populated from the assessment; for legacy sports it may be omitted. Present for every sport."
          },
          "computed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Computed At",
            "description": "ISO-8601 UTC timestamp of when this bet's numbers last materially changed \u2014 not when they were last checked. The publisher re-runs on a schedule but only rewrites a row when the price, line, or probability moves beyond a tolerance, so an older `computed_at` means 'unchanged since', not 'stale'. Values legitimately differ between bets on the same event because each market moves independently."
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier",
            "description": "Confidence tier: 'very_high', 'strong', 'moderate', or 'avoid'. Present for both legacy and predictive-framework sports. For predictive-framework sports it is null whenever `edge` is null \u2014 a tier ranks a bet against its price, so there is nothing to rank without an edge."
          },
          "confidence_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence Score",
            "description": "Legacy points-engine confidence score, 0-1. A points fraction, not a calibrated probability. Legacy sports only \u2014 see `probability` for predictive-framework sports."
          },
          "confidence_score_pre_validator": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence Score Pre Validator",
            "description": "Legacy confidence_score before the qualitative validator applied its delta. Legacy sports only."
          },
          "coverage": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Coverage",
            "description": "Legacy signal-coverage fraction, 0-1 \u2014 how many of the expected signal_* columns were populated for this bet. Legacy sports only \u2014 superseded by the continuous `sufficiency` for predictive-framework sports, which widens the interval instead of gating the response."
          },
          "signals": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Signals",
            "description": "Legacy per-signal point breakdown (signal_research, signal_form, etc.); the same DB columns mean different things per sport \u2014 see `signals._labels` when present. Legacy sports only \u2014 superseded by `drivers` for predictive-framework sports."
          },
          "validator": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Validator",
            "description": "Legacy qualitative-validator verdict: {stance, confidence, delta, validated_at}. Legacy sports only."
          },
          "narrative": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Narrative",
            "description": "Legacy per-bet narrative sentence generated alongside the validator pass. Legacy sports only."
          },
          "rationale": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Rationale",
            "description": "Legacy human-readable rationale bullets built from `signals`. Legacy sports only.",
            "default": []
          },
          "attribution": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Attribution",
            "description": "Attribution keys backing `rationale`, in the same order. Legacy sports only.",
            "default": []
          },
          "probability": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Probability",
            "description": "Published probability for this outcome, 0-1. Equals `p_market` (the de-vigged market price) whenever `blend_w` is 0, which is the case for every league that does not yet have a fitted model that beat the market out-of-sample; otherwise it is the log-space blend of `p_model` and `p_market` at weight `blend_w`. Outcomes of the same market (e.g. ML_HOME + ML_DRAW + ML_AWAY) are blended jointly and sum to 1. Predictive-framework sports only."
          },
          "interval": {
            "anyOf": [
              {
                "items": {
                  "type": "number"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Interval",
            "description": "[lo, hi] band around `probability`, 0-1. Width is driven by `sufficiency`, so read it as 'how much evidence backs this number', not as a statistical confidence interval \u2014 the constants are calibrated against realised outcomes, not derived analytically. When `blend_w` is 0 the band reflects how mature and well-traded the quoted line is, so a freshly-opened, unmoved line gets a wider band than a heavily-traded one. Thin evidence widens this band rather than removing the response. Predictive-framework sports only."
          },
          "p_model": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "P Model",
            "description": "The fitted model's own probability for this outcome, before blending with the market. Null for any league that does not yet have a model cleared for publication \u2014 currently every soccer league. Predictive-framework sports only."
          },
          "p_market": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "P Market",
            "description": "De-vigged market probability for this outcome, before blending with the model. This is the bookmaker's price with the vig removed across the whole market, so the outcomes of a market sum to 1 \u2014 it is not recoverable from a single price by implied-probability arithmetic. Null when the fixture is unpriced. Predictive-framework sports only."
          },
          "blend_w": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Blend W",
            "description": "Weight given to `p_model` when blending it with `p_market` to produce `probability`, 0-1. 0 means the published probability is purely the de-vigged market. Weight is enabled per league and per bet token, and only where the model beat the market out-of-sample, so tokens on the same event can carry different weights. Predictive-framework sports only."
          },
          "fair_price": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fair Price",
            "description": "American-odds fair price implied by `probability` \u2014 the vig-free line. Comparing it to `market.price` gives the bookmaker's margin on this side. Predictive-framework sports only."
          },
          "edge": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Edge",
            "description": "Expected profit per 1 unit staked at `market.price`, i.e. `probability x decimal_odds - 1`. Positive means the price pays more than the probability justifies. Null whenever `blend_w` is 0: a probability taken from the market has no honest edge against the price it came from, so reporting one would just be restating the vig. Predictive-framework sports only."
          },
          "sufficiency": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sufficiency",
            "description": "How much evidence backs this assessment, 0-1, and the input that sets `interval` width and caps `tier`. Its inputs depend on what is actually being measured: while `blend_w` is 0 it measures the quoted line's maturity (movement count on the priced book/market and hours since that book's first quote), because there is no model sample to be thin about; once a model carries weight it reflects the model's own sample depth. Predictive-framework sports only."
          },
          "phase": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Phase",
            "description": "'quant' when the assessment is purely deterministic (ratings, market, and model math). 'full' once a qualitative overlay \u2014 lineups, injuries, research alignment \u2014 is attached; `alignment` is populated only in that case. Predictive-framework sports only."
          },
          "model_version": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Version",
            "description": "Identifier of the parameter set that produced this assessment, so a published number can be traced to the version that made it. 'market_anchor' means no fitted model contributed. Per bet, since model weight is enabled per token. Predictive-framework sports only."
          },
          "drivers": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Drivers",
            "description": "Named, signed contributions to `probability` in probability units: {id, input, effect, direction, evidence}. `effect` is the shift in probability attributed to that factor and `direction` is 'up'/'down'/'neutral'. `evidence` is null for quantitative drivers (rating edge, HFA, rest) and, once populated, a list of `{fact_id, as_of}` citations into the Fact Ledger (`lumify_fixture_research`) for evidence-derived drivers \u2014 never an embedded quote/URL, which would duplicate that archive. Replaces `signals` for predictive-framework sports. Normally empty when no model contributed (`blend_w` 0); two exceptions carry `effect: 0` and never move probability: Stage 6 Match Context drivers (`soccer.match_context.*`, evidence-backed) and `soccer.cross_book_edge` (market-anchored price gap vs. the sharp consensus; `input` is the gap already published in `edges_by_book` \u2014 a line-shopping signal, not an expected-value claim). Predictive-framework sports only.",
            "default": []
          },
          "alignment": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Alignment",
            "description": "Qualitative-overlay agreement detail. Populated only when `phase` is 'full'; null for every 'quant' assessment. Predictive-framework sports only."
          },
          "fair": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fair",
            "description": "Sharp-consensus fair price for this outcome: {probability, books, n_books, is_consensus}. `probability` is distinct from `p_market` (the *priced* book's own de-vigged probability) and from `fair_price` (American odds implied by the published `probability`, above) \u2014 it is the sharp-book reference (`SOCCER_SHARP_BOOKS`) that a cross-book edge is measured against. `is_consensus` is false whenever `n_books` < 2 \u2014 a single sharp book is a de-vig, not a consensus (true for every soccer row today: Pinnacle is the only soccer sharp book on our feed). Populated for MLS as of Stage 5 v1 (2026-07-29); null for every other league until its own book-independence screen and multi-book fetch are wired. Predictive-framework sports only."
          },
          "edges_by_book": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Edges By Book",
            "description": "Price gap versus the sharp-reference fair probability (`fair.probability`), keyed by bookmaker, for every independently-eligible soft book quoting this outcome \u2014 `fair.probability \u00d7 decimal_odds \u2212 1` at each book's posted price. This is a **price-gap / line-shopping metric**, not an expected-value recommendation: at the current N=2 soft-book coverage (FanDuel/Hard Rock on MLS), the measured winner's-curse component of a max-of-N pick is ~171% of the mean positive gap, and a closing-time backfill simulation of N=2 realized approximately \u22122.5% on the positive-gap population (see SOCCER_PROGRAM_PLAN.md \u00a75.0 steps E / tenth pass). Rank soft books by these gaps for line-shopping (largest gap = furthest above the sharp reference); do not treat a positive gap as EV or as a bet recommendation, and do not badge picks as '+EV'. Populated for MLS as of Stage 5 v1; null for every other league until its own gate and fetch are wired, and null for any market with no eligible soft book quoting it. Predictive-framework sports only."
          },
          "best": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Best",
            "description": "Highest price-gap pick across `edges_by_book`: {book, price, edge, quote_age_seconds}. `edge` is the field's raw maximum (`shrinkage=0.0` \u2014 winner's-curse correction closed as won't-fit at N=2). Same caveats as `edges_by_book`: this is a price gap versus a de-vigged sharp reference, **not** an expected-value claim; at N=2 the winner's-curse magnitude is ~171% of the mean positive gap and a closing-time N=2 backfill simulation realized \u2248\u22122.5% on positive-gap picks. Use `best.book`/`best.price` as the line-shopping target for this outcome; do not read `best.edge` as EV or as a bet recommendation. `quote_age_seconds` is `best.book`'s posted-price age at publish time \u2014 a stale soft-book price is excluded before selection (30-minute freshness threshold). Populated for MLS as of Stage 5 v1 (2026-07-29); null for every other league or whenever `edges_by_book` is empty. Predictive-framework sports only."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "BetIntelligence"
      },
      "CreditPack": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "credits": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credits"
          },
          "price_cents": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Price Cents"
          },
          "bonus_credits": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bonus Credits"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "CreditPack"
      },
      "CreditPackListResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/CreditPack"
            },
            "type": "array",
            "title": "Data",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "CreditPackListResponse"
      },
[...]
