{
  "openapi": "3.1.0",
  "info": {
    "title": "Lumify SDK contract",
    "version": "1.0.0",
    "description": "Filtered slice of the live Lumify OpenAPI schema (/v1 + /api/agent only). Generated by scripts/export_openapi_sdk.py \u2014 do not edit by hand."
  },
  "servers": [
    {
      "url": "https://lumify.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/agent/credit-packs": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "List purchasable credit packs",
        "operationId": "get_credit_packs_api_agent_credit_packs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditPackListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/credits": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Get credit balance and usage",
        "operationId": "get_credits_api_agent_credits_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreditsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/credits/topup": {
      "post": {
        "tags": [
          "agent"
        ],
        "summary": "Purchase a credit pack",
        "operationId": "topup_credits_api_agent_credits_topup_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": true,
                "type": "object",
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTopupResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/keys": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "List API keys",
        "operationId": "get_keys_api_agent_keys_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentApiKeyListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "agent"
        ],
        "summary": "Create an API key",
        "operationId": "create_key_api_agent_keys_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": true,
                "type": "object",
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentApiKey"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/keys/{key_id}": {
      "delete": {
        "tags": [
          "agent"
        ],
        "summary": "Revoke an API key",
        "operationId": "delete_key_api_agent_keys__key_id__delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Key Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentApiKeyRevokeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/estimate": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Estimate the credit cost of a planned call (or batch of calls)",
        "operationId": "estimate_cost_v1_estimate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Min/max credit range per requested call, plus totals. Costs are data-dependent (e.g. odds/intelligence/splits not yet ingested are free), so this is a range, not an exact number \u2014 the real call's X-Credits-Used response header reports what it actually billed. Estimating is always free (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Estimate Cost V1 Estimate Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/estimate/tools": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List the tools /v1/estimate understands",
        "operationId": "list_estimate_tools_v1_estimate_tools_get",
        "responses": {
          "200": {
            "description": "Supported tool names, grouped by how their cost varies.",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response List Estimate Tools V1 Estimate Tools Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List events",
        "operationId": "list_events_v1_events_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sport slug: nfl, nba, mlb, nhl, tennis, soccer\u2026",
              "title": "Sport"
            },
            "description": "Sport slug: nfl, nba, mlb, nhl, tennis, soccer\u2026"
          },
          {
            "name": "league",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "League slug: nfl, nba, atp, fifa_world_cup\u2026",
              "title": "League"
            },
            "description": "League slug: nfl, nba, atp, fifa_world_cup\u2026"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Event status: scheduled|inprogress|final|\u2026",
              "title": "Status"
            },
            "description": "Event status: scheduled|inprogress|final|\u2026"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC date YYYY-MM-DD (single day)",
              "title": "Date"
            },
            "description": "UTC date YYYY-MM-DD (single day)"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC start date YYYY-MM-DD",
              "title": "From"
            },
            "description": "UTC start date YYYY-MM-DD"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC end date YYYY-MM-DD (inclusive)",
              "title": "To"
            },
            "description": "UTC end date YYYY-MM-DD (inclusive)"
          },
          {
            "name": "season_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by season ID",
              "title": "Season Id"
            },
            "description": "Filter by season ID"
          },
          {
            "name": "team_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to events where this team participates. Resolve ids via GET /v1/teams?q=\u2026",
              "title": "Team Id"
            },
            "description": "Filter to events where this team participates. Resolve ids via GET /v1/teams?q=\u2026"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor: return events with id > after_id",
              "title": "After Id"
            },
            "description": "Cursor: return events with id > after_id"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "include_scores",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Inline participants + scores in each event. Intended for small result sets (\u2264 200 events).",
              "default": false,
              "title": "Include Scores"
            },
            "description": "Inline participants + scores in each event. Intended for small result sets (\u2264 200 events)."
          },
          {
            "name": "has_recommend",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "When true, return only events with at least one recommended bet (has_recommend=1 in intelligence). Requires intelligence pipeline to have run.",
              "title": "Has Recommend"
            },
            "description": "When true, return only events with at least one recommended bet (has_recommend=1 in intelligence). Requires intelligence pipeline to have run."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort order: 'time' (chronological, default) or 'status' (Live \u2192 Delayed/Upcoming \u2192 Final \u2192 Cancelled/Postponed). Cursor pagination (after_id) is not supported with sort=status.",
              "default": "time",
              "title": "Sort"
            },
            "description": "Sort order: 'time' (chronological, default) or 'status' (Live \u2192 Delayed/Upcoming \u2192 Final \u2192 Cancelled/Postponed). Cursor pagination (after_id) is not supported with sort=status."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated event list, newest first within the requested window",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Events V1 Events Get",
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/batch": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Get multiple events in one call",
        "description": "Fetch multiple events by id in a single round-trip \u2014 for agents that\nalready have a list of ids (e.g. from GET /v1/events) and want full detail\nfor each without issuing one GET per event.\n\nBody: {\"event_ids\": [1, 2, 3], \"include_odds\": bool, \"include_intelligence\": bool, \"bookmaker\": str}\nMax 25 ids per call. Duplicate ids are billed once. Credits are the sum of\neach event's normal GET /v1/events/{id} cost \u2014 billing fairness applies\nper event (unavailable odds/intelligence are free; ids that don't exist\ncost nothing and are returned under \"not_found\").",
        "operationId": "batch_get_events_v1_events_batch_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchEventsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Requested events (each shaped like GET /v1/events/{id}) plus any ids not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchEventsResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Batch Get Events V1 Events Batch Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get an event",
        "operationId": "get_event_v1_events__event_id__get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "include_odds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Inline current odds (all bookmakers) into the response under the 'odds' key. Costs +1 credit (total 2 for this call).",
              "default": false,
              "title": "Include Odds"
            },
            "description": "Inline current odds (all bookmakers) into the response under the 'odds' key. Costs +1 credit (total 2 for this call)."
          },
          {
            "name": "include_intelligence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Inline bet intelligence (signals, bets, narratives) into the response under the 'intelligence' key. Costs +1 credit (total 2 for this call).",
              "default": false,
              "title": "Include Intelligence"
            },
            "description": "Inline bet intelligence (signals, bets, narratives) into the response under the 'intelligence' key. Costs +1 credit (total 2 for this call)."
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker to use for market prices in intelligence.bets[].market when include_intelligence=true. Valid values: pinnacle, fanduel, draftkings.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker to use for market prices in intelligence.bets[].market when include_intelligence=true. Valid values: pinnacle, fanduel, draftkings."
          }
        ],
        "responses": {
          "200": {
            "description": "Full event with participants, venue, and schedule metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event V1 Events  Event Id  Get",
                  "$ref": "#/components/schemas/EventDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/intelligence": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get bet intelligence for an event",
        "operationId": "get_event_intelligence_v1_events__event_id__intelligence_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker to use for market.price and market.line in the response. Overrides the system default (pinnacle). Valid values: pinnacle, fanduel, draftkings.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker to use for market.price and market.line in the response. Overrides the system default (pinnacle). Valid values: pinnacle, fanduel, draftkings."
          }
        ],
        "responses": {
          "200": {
            "description": "Confidence scores, signal breakdowns, narratives, and market odds for all bet tokens. MLB tokens: ML_P1 (home), ML_P2 (away), SPREAD_P1, SPREAD_P2, OVER, UNDER. Tennis tokens: ML_P1, ML_P2, SPREAD_P1, SPREAD_P2, OVER, UNDER. Soccer tokens: ML_HOME, ML_AWAY, ML_DRAW, SPREAD_HOME, SPREAD_AWAY, OVER, UNDER. Also includes event-level analyst take and match overview from the lumify_match_intelligence table. If no intelligence has been computed for this event yet, returns 200 with available=false and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Intelligence V1 Events  Event Id  Intelligence Get",
                  "$ref": "#/components/schemas/IntelligenceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/odds": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get current betting odds for an event",
        "operationId": "get_event_odds_v1_events__event_id__odds_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker filter. Default: pinnacle. Use 'all' or a comma-separated list (e.g. 'fanduel,draftkings') for multiple books. Single book = 1 credit; multiple or 'all' = 2 credits.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker filter. Default: pinnacle. Use 'all' or a comma-separated list (e.g. 'fanduel,draftkings') for multiple books. Single book = 1 credit; multiple or 'all' = 2 credits."
          }
        ],
        "responses": {
          "200": {
            "description": "Current moneyline, spread, and total lines for the requested bookmaker(s). Default is Pinnacle only (1 credit). Use bookmaker=all or a comma-separated list (e.g. bookmaker=fanduel,draftkings) to fetch multiple books (2 credits). Markets are grouped by type (h2h \u2192 moneyline, spreads \u2192 spread, totals \u2192 totals). If no odds have been ingested for this event yet, returns 200 with available=false and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Odds V1 Events  Event Id  Odds Get",
                  "$ref": "#/components/schemas/OddsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/odds/history": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get line movement history for an event",
        "operationId": "get_event_odds_history_v1_events__event_id__odds_history_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker filter. Default: pinnacle. Use 'all' or a comma-separated list for multiple books. Single book = 1 credit; multiple or 'all' = 2 credits.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker filter. Default: pinnacle. Use 'all' or a comma-separated list for multiple books. Single book = 1 credit; multiple or 'all' = 2 credits."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max movements to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max movements to return"
          }
        ],
        "responses": {
          "200": {
            "description": "All recorded line movements (price or point changes) for the event, ordered newest-first. Useful for detecting sharp line movement. If no movement has been recorded for this event yet, returns 200 with an empty movements list and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Odds History V1 Events  Event Id  Odds History Get",
                  "$ref": "#/components/schemas/OddsHistoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/score": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get an event's score",
        "operationId": "get_event_score_v1_events__event_id__score_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Lightweight score snapshot: status, period, clock, and per-participant scores. Cache TTL is 30 s for in-progress events, 5 min otherwise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Score V1 Events  Event Id  Score Get",
                  "$ref": "#/components/schemas/ScoreResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/splits": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get public betting splits for an event",
        "operationId": "get_event_splits_v1_events__event_id__splits_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Public bets% and handle% per side, per market, per bookmaker. Also includes a consensus (average across books) for quick use. If no splits have been ingested for this event yet, returns 200 with available=false and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Splits V1 Events  Event Id  Splits Get",
                  "$ref": "#/components/schemas/SplitsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/stream": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Stream live score updates (SSE)",
        "operationId": "stream_event_score_v1_events__event_id__stream_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "text/event-stream of score updates; emits on change only.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health",
        "operationId": "health_v1_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/players": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "List players",
        "operationId": "list_players_v1_players_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sport slug, e.g. 'tennis' or 'mlb'",
              "title": "Sport"
            },
            "description": "Sport slug, e.g. 'tennis' or 'mlb'"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name search (partial match)",
              "title": "Q"
            },
            "description": "Name search (partial match)"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 3166-1 alpha-3 country code, e.g. 'USA'",
              "title": "Country"
            },
            "description": "ISO 3166-1 alpha-3 country code, e.g. 'USA'"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by active status",
              "title": "Active"
            },
            "description": "Filter by active status"
          },
          {
            "name": "ranked",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "If true, only players with a tennis ranking",
              "title": "Ranked"
            },
            "description": "If true, only players with a tennis ranking"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Cursor: last player id from previous page",
              "default": 0,
              "title": "After Id"
            },
            "description": "Cursor: last player id from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayersListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/players/{player_id}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "Get a player",
        "operationId": "get_player_v1_players__player_id__get",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Player Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/players/{player_id}/events": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "List a player's events",
        "operationId": "get_player_events_v1_players__player_id__events_get",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Player Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Event status filter",
              "title": "Status"
            },
            "description": "Event status filter"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date YYYY-MM-DD",
              "title": "From"
            },
            "description": "Start date YYYY-MM-DD"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date YYYY-MM-DD",
              "title": "To"
            },
            "description": "End date YYYY-MM-DD"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Cursor: last event id from previous page",
              "default": 0,
              "title": "After Id"
            },
            "description": "Cursor: last event id from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerEventsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/query": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Natural-language event search",
        "description": "Map a natural-language query to the same filters GET /v1/events accepts,\nthen run that exact list query \u2014 results are identical to, and as fresh\nas, calling /v1/events directly. This is a small rule-based mapper, not an\nLLM call \u2014 see the module-level `_parse_nl_query` docstring for exactly\nwhat it recognizes.\n\nBody: {\"query\": \"live nfl games today\", \"limit\": 25}\nAn explicit top-level \"limit\" overrides one parsed from the text. Costs 1\ncredit, same as GET /v1/events \u2014 interpreting the query text is free.",
        "operationId": "query_events_v1_query_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NLQueryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Events matching the parsed query, the interpreted filters, and their REST equivalent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NLQueryResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Query Events V1 Query Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/seasons": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "List seasons",
        "operationId": "list_seasons_v1_seasons_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by sport slug (e.g. nhl, nba, soccer)",
              "title": "Sport"
            },
            "description": "Filter by sport slug (e.g. nhl, nba, soccer)"
          },
          {
            "name": "current_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only currently active seasons (default true). Pass false to include historical/past seasons.",
              "default": true,
              "title": "Current Only"
            },
            "description": "Return only currently active seasons (default true). Pass false to include historical/past seasons."
          }
        ],
        "responses": {
          "200": {
            "description": "Seasons per sport/league, optionally filtered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/sports": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "List sports",
        "operationId": "list_sports_v1_sports_get",
        "parameters": [
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only active sports (default true)",
              "default": true,
              "title": "Active Only"
            },
            "description": "Return only active sports (default true)"
          }
        ],
        "responses": {
          "200": {
            "description": "Active sports with their leagues and current season summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/teams": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "List teams",
        "operationId": "list_teams_v1_teams_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sport slug, e.g. 'nba' or 'nhl'",
              "title": "Sport"
            },
            "description": "Sport slug, e.g. 'nba' or 'nhl'"
          },
          {
            "name": "league",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "League slug, e.g. 'nba'",
              "title": "League"
            },
            "description": "League slug, e.g. 'nba'"
          },
          {
            "name": "conference",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Conference filter",
              "title": "Conference"
            },
            "description": "Conference filter"
          },
          {
            "name": "division",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Division filter",
              "title": "Division"
            },
            "description": "Division filter"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO country code, e.g. 'USA'",
              "title": "Country"
            },
            "description": "ISO country code, e.g. 'USA'"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Team name search (partial match)",
              "title": "Q"
            },
            "description": "Team name search (partial match)"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by active status",
              "title": "Active"
            },
            "description": "Filter by active status"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Cursor: last team id from previous page",
              "default": 0,
              "title": "After Id"
            },
            "description": "Cursor: last team id from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated team list, filterable by sport/league/conference/division/country.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/teams/{team_id}": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Get a team",
        "operationId": "get_team_v1_teams__team_id__get",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Lumify team ID",
              "title": "Team Id"
            },
            "description": "Lumify team ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Team profile with home venue.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/trial-key": {
      "post": {
        "tags": [
          "trial"
        ],
        "summary": "Issue an instant, unauthenticated trial API key",
        "description": "Issues a throwaway API key with no signup or email verification \u2014 100 lifetime credits, 14-day expiry, one per network per 7 days. Requires a valid Cloudflare Turnstile token. Intended for the 'Get instant trial key' button on /docs/ai, not for building a persistent integration \u2014 use /register for that.",
        "operationId": "create_trial_key_v1_trial_key_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrialKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "List webhook subscriptions",
        "operationId": "list_webhooks_v1_webhooks_get",
        "responses": {
          "200": {
            "description": "The caller's webhook subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "Create a webhook subscription",
        "operationId": "create_webhook_v1_webhooks_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": true,
                "type": "object",
                "title": "Payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created webhook subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/webhooks/{subscription_id}": {
      "delete": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "Delete a webhook subscription",
        "operationId": "delete_webhook_v1_webhooks__subscription_id__delete",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Subscription Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/webhooks/{subscription_id}/deliveries": {
      "get": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "List delivery history for a webhook subscription",
        "operationId": "list_webhook_deliveries_v1_webhooks__subscription_id__deliveries_get",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Subscription Id"
            }
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor: return deliveries with id < after_id (list is newest-first)",
              "title": "After Id"
            },
            "description": "Cursor: return deliveries with id < after_id (list is newest-first)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated delivery attempts, newest first. Retries appear as their own rows, linked via parent_delivery_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveryListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AgentApiKey": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "key_prefix": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Key Prefix"
          },
          "scopes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scopes"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "last_used_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Used At"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At"
          },
          "is_active": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Active"
          },
          "key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Key",
            "description": "Full API key \u2014 returned once on create."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentApiKey"
      },
      "AgentApiKeyListResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/AgentApiKey"
            },
            "type": "array",
            "title": "Data",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentApiKeyListResponse"
      },
      "AgentApiKeyRevokeResponse": {
        "properties": {
          "revoked": {
            "type": "boolean",
            "title": "Revoked",
            "default": true
          },
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentApiKeyRevokeResponse"
      },
      "AgentCreditsResponse": {
        "properties": {
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "credits_used": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credits Used"
          },
          "credit_limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Limit"
          },
          "bonus_credits": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bonus Credits"
          },
          "total_remaining": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Remaining"
          },
          "period_start": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period Start"
          },
          "period_end": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period End"
          },
          "is_trial": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Trial"
          },
          "is_trial_expired": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Trial Expired"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentCreditsResponse"
      },
      "BatchEventsRequest": {
        "properties": {
          "event_ids": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "maxItems": 25,
            "minItems": 1,
            "title": "Event Ids",
            "description": "Event ids to fetch (max 25). Duplicates are billed once."
          },
          "include_odds": {
            "type": "boolean",
            "title": "Include Odds",
            "description": "Inline current odds on each event (+1 credit per event when available).",
            "default": false
          },
          "include_intelligence": {
            "type": "boolean",
            "title": "Include Intelligence",
            "description": "Inline bet intelligence on each event (+1 credit per event when available).",
            "default": false
          },
          "bookmaker": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bookmaker",
            "description": "Bookmaker for inlined odds; defaults to pinnacle, 'all' for every book."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "event_ids"
        ],
        "title": "BatchEventsRequest"
      },
      "BatchEventsResponse": {
        "properties": {
          "events": {
            "items": {
              "$ref": "#/components/schemas/EventDetail"
            },
            "type": "array",
            "title": "Events",
            "default": []
          },
          "not_found": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Not Found",
            "description": "Requested event_ids that don't exist. Never billed.",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "BatchEventsResponse"
      },
      "BetIntelligence": {
        "properties": {
          "bet_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bet Type"
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "confidence_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence Score"
          },
          "coverage": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Coverage"
          },
          "market": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Market"
          },
          "signals": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Signals"
          },
          "validator": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Validator"
          },
          "narrative": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Narrative"
          },
          "rationale": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Rationale",
            "default": []
          },
          "attribution": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Attribution",
            "default": []
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "BetIntelligence"
      },
      "CreditPack": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "credits": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credits"
          },
          "price_cents": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Price Cents"
          },
          "bonus_credits": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bonus Credits"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "CreditPack"
      },
      "CreditPackListResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/CreditPack"
            },
            "type": "array",
            "title": "Data",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "CreditPackListResponse"
      },
      "CreditTopupResponse": {
        "properties": {
          "success": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Success"
          },
          "credits_added": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credits Added"
          },
          "bonus_credits": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bonus Credits"
          },
          "pack_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pack Id"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "CreditTopupResponse"
      },
      "EstimateCall": {
        "properties": {
          "tool": {
            "type": "string",
            "title": "Tool",
            "description": "The MCP tool / SDK call to estimate, e.g. 'get_event', 'batch_get_events', 'get_odds'. See GET /v1/estimate/tools for the full supported list."
          },
          "arguments": {
            "additionalProperties": true,
            "type": "object",
            "title": "Arguments",
            "description": "Same arguments you'd pass to that tool/endpoint, e.g. {\"event_id\": 123, \"include_odds\": true}."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "tool"
        ],
        "title": "EstimateCall"
      },
      "EstimateRequest": {
        "properties": {
          "calls": {
            "items": {
              "$ref": "#/components/schemas/EstimateCall"
            },
            "type": "array",
            "maxItems": 50,
            "minItems": 1,
            "title": "Calls",
            "description": "One or more planned calls to estimate in a single round-trip."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "calls"
        ],
        "title": "EstimateRequest"
      },
      "EstimateResponse": {
        "properties": {
          "estimates": {
            "items": {
              "$ref": "#/components/schemas/EstimateResult"
            },
            "type": "array",
            "title": "Estimates"
          },
          "total_min_credits": {
            "type": "integer",
            "title": "Total Min Credits"
          },
          "total_max_credits": {
            "type": "integer",
            "title": "Total Max Credits"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "estimates",
          "total_min_credits",
          "total_max_credits"
        ],
        "title": "EstimateResponse"
      },
      "EstimateResult": {
        "properties": {
          "tool": {
            "type": "string",
            "title": "Tool"
          },
          "min_credits": {
            "type": "integer",
            "title": "Min Credits",
            "description": "Cheapest realistic outcome (e.g. requested data not yet available)."
          },
          "max_credits": {
            "type": "integer",
            "title": "Max Credits",
            "description": "Priciest realistic outcome (e.g. all requested data is available)."
          },
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note",
            "description": "Why the cost varies, when it does."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "tool",
          "min_credits",
          "max_credits"
        ],
        "title": "EstimateResult"
      },
      "EventDetail": {
        "properties": {
          "id": {
            "type": "integer",
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "sport": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sport"
          },
          "league": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "League"
          },
          "season_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Season Id"
          },
          "starts_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Starts At",
            "description": "ISO-8601 UTC start time."
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status"
          },
          "period": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period"
          },
          "clock": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Clock"
          },
          "venue": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Venue"
          },
          "participants": {
            "items": {
              "$ref": "#/components/schemas/Participant"
            },
            "type": "array",
            "title": "Participants",
            "default": []
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id"
        ],
        "title": "EventDetail"
      },
      "EventListResponse": {
        "properties": {
          "events": {
            "items": {
              "$ref": "#/components/schemas/EventSummary"
            },
            "type": "array",
            "title": "Events",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          },
          "next_after_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next After Id"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "EventListResponse"
      },
      "EventSummary": {
        "properties": {
          "id": {
            "type": "integer",
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "sport": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sport"
          },
          "league": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "League"
          },
          "season_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Season Id"
          },
          "starts_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Starts At",
            "description": "ISO-8601 UTC start time."
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status"
          },
          "period": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period"
          },
          "clock": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Clock"
          },
          "venue": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Venue"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id"
        ],
        "title": "EventSummary"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "IntelligenceResponse": {
        "properties": {
          "event_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Id"
          },
          "available": {
            "type": "boolean",
            "title": "Available",
            "default": false
          },
          "has_recommend": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Has Recommend"
          },
          "analyst_take": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Analyst Take"
          },
          "match_overview": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Match Overview"
          },
          "intelligence_updated_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Intelligence Updated At"
          },
          "bets": {
            "items": {
              "$ref": "#/components/schemas/BetIntelligence"
            },
            "type": "array",
            "title": "Bets",
            "default": []
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "IntelligenceResponse"
      },
      "LeagueSummary": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slug"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "abbreviation": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Abbreviation"
          },
          "league_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "League Type"
          },
          "country_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country Code"
          },
          "current_season": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SeasonSummary"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "LeagueSummary"
      },
      "NLQueryFilters": {
        "properties": {
          "sport": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sport"
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status"
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date"
          },
          "from": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "From"
          },
          "to": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "To"
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "NLQueryFilters"
      },
      "NLQueryRequest": {
        "properties": {
          "query": {
            "type": "string",
            "maxLength": 500,
            "minLength": 1,
            "title": "Query",
            "description": "Free text, e.g. 'live nfl games today' or 'college basketball this week'."
          },
          "limit": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 100.0,
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Limit",
            "description": "Overrides any limit parsed from the query text. Max 100."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "query"
        ],
        "title": "NLQueryRequest"
      },
      "NLQueryResponse": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "The original natural-language query text."
          },
          "interpreted": {
            "$ref": "#/components/schemas/NLQueryFilters",
            "description": "The GET /v1/events filters parsed from the query text."
          },
          "unrecognized_terms": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Unrecognized Terms",
            "description": "Query words that didn't map to a known filter.",
            "default": []
          },
          "equivalent_request": {
            "type": "string",
            "title": "Equivalent Request",
            "description": "The literal GET /v1/events request this query was translated to."
          },
          "events": {
            "items": {
              "$ref": "#/components/schemas/EventSummary"
            },
            "type": "array",
            "title": "Events",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          },
          "next_after_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next After Id"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "query",
          "interpreted",
          "equivalent_request"
        ],
        "title": "NLQueryResponse"
      },
      "OddsHistoryResponse": {
        "properties": {
          "event_id": {
            "type": "integer",
            "title": "Event Id"
          },
          "movements": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Movements",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "event_id"
        ],
        "title": "OddsHistoryResponse"
      },
      "OddsResponse": {
        "properties": {
          "event_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Id"
          },
          "available": {
            "type": "boolean",
            "title": "Available",
            "default": false
          },
          "bookmakers": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Bookmakers",
            "default": []
          },
          "last_updated": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Updated"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "OddsResponse"
      },
      "Participant": {
        "properties": {
          "participant_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Participant Id"
          },
          "role": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Role"
          },
          "team": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Team"
          },
          "player": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Player"
          },
          "score": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score"
          },
          "is_winner": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Winner"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "Participant"
      },
      "Player": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slug"
          },
          "full_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Full Name"
          },
          "first_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Name"
          },
          "last_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Name"
          },
          "sport": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sport"
          },
          "country_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country Code"
          },
          "birthdate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Birthdate",
            "description": "YYYY-MM-DD date of birth."
          },
          "position": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Position"
          },
          "handedness": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Handedness"
          },
          "height_cm": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Height Cm"
          },
          "weight_kg": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Weight Kg"
          },
          "tennis_ranking": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tennis Ranking"
          },
          "tennis_ranking_points": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tennis Ranking Points"
          },
          "current_team_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Team Id"
          },
          "current_team_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Team Name"
          },
          "is_active": {
            "anyOf": [
[...]
