{
  "openapi": "3.1.0",
  "info": {
    "title": "Lumify SDK contract",
    "version": "1.0.0",
    "description": "Filtered slice of the live Lumify OpenAPI schema (/v1 + /api/agent only). Generated by scripts/export_openapi_sdk.py \u2014 do not edit by hand."
  },
  "servers": [
    {
      "url": "https://lumify.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/agent/credit-packs": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "List purchasable credit packs",
        "operationId": "get_credit_packs_api_agent_credit_packs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditPackListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/credits": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Get credit balance and usage",
        "operationId": "get_credits_api_agent_credits_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreditsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/credits/topup": {
      "post": {
        "tags": [
          "agent"
        ],
        "summary": "Purchase a credit pack",
        "operationId": "topup_credits_api_agent_credits_topup_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": true,
                "type": "object",
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTopupResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/keys": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "List API keys",
        "operationId": "get_keys_api_agent_keys_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentApiKeyListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "agent"
        ],
        "summary": "Create an API key",
        "operationId": "create_key_api_agent_keys_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": true,
                "type": "object",
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentApiKey"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/api/agent/keys/{key_id}": {
      "delete": {
        "tags": [
          "agent"
        ],
        "summary": "Revoke an API key",
        "operationId": "delete_key_api_agent_keys__key_id__delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Key Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentApiKeyRevokeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/estimate": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Estimate the credit cost of a planned call (or batch of calls)",
        "operationId": "estimate_cost_v1_estimate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Min/max credit range per requested call, plus totals. Costs are data-dependent (e.g. odds/intelligence/splits not yet ingested are free), so this is a range, not an exact number \u2014 the real call's X-Credits-Used response header reports what it actually billed. Estimating is always free (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Estimate Cost V1 Estimate Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/estimate/tools": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List the tools /v1/estimate understands",
        "operationId": "list_estimate_tools_v1_estimate_tools_get",
        "responses": {
          "200": {
            "description": "Supported tool names, grouped by how their cost varies.",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response List Estimate Tools V1 Estimate Tools Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List events",
        "operationId": "list_events_v1_events_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sport slug: nfl, nba, mlb, nhl, tennis, soccer\u2026",
              "title": "Sport"
            },
            "description": "Sport slug: nfl, nba, mlb, nhl, tennis, soccer\u2026"
          },
          {
            "name": "league",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "League slug: nfl, nba, atp, mls\u2026",
              "title": "League"
            },
            "description": "League slug: nfl, nba, atp, mls\u2026"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Event status: scheduled|inprogress|final|\u2026",
              "title": "Status"
            },
            "description": "Event status: scheduled|inprogress|final|\u2026"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC date YYYY-MM-DD (single day)",
              "title": "Date"
            },
            "description": "UTC date YYYY-MM-DD (single day)"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC start date YYYY-MM-DD",
              "title": "From"
            },
            "description": "UTC start date YYYY-MM-DD"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC end date YYYY-MM-DD (inclusive)",
              "title": "To"
            },
            "description": "UTC end date YYYY-MM-DD (inclusive)"
          },
          {
            "name": "season_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by season ID",
              "title": "Season Id"
            },
            "description": "Filter by season ID"
          },
          {
            "name": "team_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to events where this team participates. Resolve ids via GET /v1/teams?q=\u2026",
              "title": "Team Id"
            },
            "description": "Filter to events where this team participates. Resolve ids via GET /v1/teams?q=\u2026"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor: return events with id > after_id",
              "title": "After Id"
            },
            "description": "Cursor: return events with id > after_id"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "include_scores",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Inline participants + scores in each event. Intended for small result sets (\u2264 200 events).",
              "default": false,
              "title": "Include Scores"
            },
            "description": "Inline participants + scores in each event. Intended for small result sets (\u2264 200 events)."
          },
          {
            "name": "has_recommend",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "When true, return only events with at least one recommended bet (has_recommend=1 in intelligence). Requires intelligence pipeline to have run.",
              "title": "Has Recommend"
            },
            "description": "When true, return only events with at least one recommended bet (has_recommend=1 in intelligence). Requires intelligence pipeline to have run."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort order: 'time' (chronological, default) or 'status' (Live \u2192 Delayed/Upcoming \u2192 Final \u2192 Cancelled/Postponed). Cursor pagination (after_id) is not supported with sort=status.",
              "default": "time",
              "title": "Sort"
            },
            "description": "Sort order: 'time' (chronological, default) or 'status' (Live \u2192 Delayed/Upcoming \u2192 Final \u2192 Cancelled/Postponed). Cursor pagination (after_id) is not supported with sort=status."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated event list, newest first within the requested window",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Events V1 Events Get",
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/batch": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Get multiple events in one call",
        "description": "Fetch multiple events by id in a single round-trip \u2014 for agents that\nalready have a list of ids (e.g. from GET /v1/events) and want full detail\nfor each without issuing one GET per event.\n\nBody: {\"event_ids\": [1, 2, 3], \"include_odds\": bool, \"include_intelligence\": bool, \"bookmaker\": str}\nMax 25 ids per call. Duplicate ids are billed once. Credits are the sum of\neach event's normal GET /v1/events/{id} cost \u2014 billing fairness applies\nper event (unavailable odds/intelligence are free; ids that don't exist\ncost nothing and are returned under \"not_found\").",
        "operationId": "batch_get_events_v1_events_batch_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchEventsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Requested events (each shaped like GET /v1/events/{id}) plus any ids not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchEventsResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Batch Get Events V1 Events Batch Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get an event",
        "operationId": "get_event_v1_events__event_id__get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "include_odds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Inline current odds into the response under the 'odds' key. Scoped by bookmaker (default: pinnacle). Does not add credits \u2014 the event call stays 1 credit.",
              "default": false,
              "title": "Include Odds"
            },
            "description": "Inline current odds into the response under the 'odds' key. Scoped by bookmaker (default: pinnacle). Does not add credits \u2014 the event call stays 1 credit."
          },
          {
            "name": "include_intelligence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Inline bet intelligence (signals, bets, narratives) into the response under the 'intelligence' key. Does not add credits \u2014 the event call stays 1 credit.",
              "default": false,
              "title": "Include Intelligence"
            },
            "description": "Inline bet intelligence (signals, bets, narratives) into the response under the 'intelligence' key. Does not add credits \u2014 the event call stays 1 credit."
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker filter for inlined odds (when include_odds=true) and for intelligence.bets[].market prices (when include_intelligence=true). Valid values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, westgate, wynn, south_point, stations, hardrock, betonline, betr, betrivers, lowvig, all. Defaults to pinnacle.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker filter for inlined odds (when include_odds=true) and for intelligence.bets[].market prices (when include_intelligence=true). Valid values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, westgate, wynn, south_point, stations, hardrock, betonline, betr, betrivers, lowvig, all. Defaults to pinnacle."
          },
          {
            "name": "include_alts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "When include_odds=true, include alternate spread/total rungs (is_main=false). Default is mains only.",
              "default": false,
              "title": "Include Alts"
            },
            "description": "When include_odds=true, include alternate spread/total rungs (is_main=false). Default is mains only."
          }
        ],
        "responses": {
          "200": {
            "description": "Full event with participants, venue, and schedule metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event V1 Events  Event Id  Get",
                  "$ref": "#/components/schemas/EventDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/intelligence": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get bet intelligence for an event",
        "operationId": "get_event_intelligence_v1_events__event_id__intelligence_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Ignored. Intelligence always reports the book the assessment was priced against. Accepted values (pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, westgate, wynn, south_point, stations, hardrock, betonline, betr, betrivers, lowvig) are kept for compatibility and do not change market.price or fair_price.",
              "title": "Bookmaker"
            },
            "description": "Ignored. Intelligence always reports the book the assessment was priced against. Accepted values (pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, westgate, wynn, south_point, stations, hardrock, betonline, betr, betrivers, lowvig) are kept for compatibility and do not change market.price or fair_price."
          }
        ],
        "responses": {
          "200": {
            "description": "Predictive bet intelligence: vig-stripped probability, fair_price, Price overlay (fair / edges_by_book / best), and main-line ev (Beta),         plus forecasts[] \u2014 forecasted wagers from the model (same objects as GET /v1/intelligence/forecasts; player props on MLB/NFL/NCAAF/NBA/NCAAB/NHL, tennis moneyline/spreads/totals). bets[] is live for MLB, tennis, soccer (MLS + big-five), NFL, and NCAAF. forecasts[] covers MLB, NFL, NCAAF, NBA, NCAAB, NHL, and tennis (can populate when available is false). Today bets[] is fair-price + line-shopping (edge/tier null; has_recommend false). The bookmaker query is ignored \u2014 prices are the book the assessment was priced against. Match-level tokens (OVER, UNDER, ML_DRAW) have null player/team attribution. Free only when available is false and forecasts is empty. Field catalog: https://lumify.ai/docs/reference#event-intelligence",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Intelligence V1 Events  Event Id  Intelligence Get",
                  "$ref": "#/components/schemas/IntelligenceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/odds": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get current betting odds for an event",
        "operationId": "get_event_odds_v1_events__event_id__odds_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker filter. Default: pinnacle. Accepted values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, westgate, wynn, south_point, stations, hardrock, betonline, betr, betrivers, lowvig, all, or a comma-separated list (e.g. 'fanduel,betmgm'). One book or all = 1 credit.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker filter. Default: pinnacle. Accepted values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, westgate, wynn, south_point, stations, hardrock, betonline, betr, betrivers, lowvig, all, or a comma-separated list (e.g. 'fanduel,betmgm'). One book or all = 1 credit."
          },
          {
            "name": "include_alts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include alternate spread/total rungs (is_main=false). Default is mains only.",
              "default": false,
              "title": "Include Alts"
            },
            "description": "Include alternate spread/total rungs (is_main=false). Default is mains only."
          }
        ],
        "responses": {
          "200": {
            "description": "Current moneyline, spread, and total lines for the requested bookmaker(s), including in-play quotes while the event is underway. Default is Pinnacle only. Use bookmaker=all or a comma-separated list (e.g. bookmaker=fanduel,draftkings) to fetch multiple books. One book or all is 1 credit. Markets are grouped by type (h2h \u2192 moneyline, spreads \u2192 spread, totals \u2192 totals). Default view is main lines (is_main=true). Pass include_alts=true for alternate spread/total rungs. In-play responses omit books that have not quoted since kickoff. Final events include result (won/lost/push/void) graded from the pre-kickoff close (lumify_closing_odds), not the last in-play line. If no odds have been ingested for this event yet, returns 200 with available=false and is NOT charged (X-Credits-Used: 0). When bookmaker is omitted (default) and Pinnacle hasn't posted a line yet \u2014 common for the first/last games of a preseason slate \u2014 falls back to the best-covered other book instead of reporting no odds; the response then includes requested_bookmaker='pinnacle' and fallback_bookmaker=<book actually returned>. An explicit bookmaker=pinnacle request never falls back.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Odds V1 Events  Event Id  Odds Get",
                  "$ref": "#/components/schemas/OddsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/odds/history": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get line movement history for an event",
        "operationId": "get_event_odds_history_v1_events__event_id__odds_history_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          },
          {
            "name": "bookmaker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Bookmaker filter. Default: pinnacle. Accepted values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, westgate, wynn, south_point, stations, hardrock, betonline, betr, betrivers, lowvig, all, or a comma-separated list. One book or all = 1 credit.",
              "title": "Bookmaker"
            },
            "description": "Bookmaker filter. Default: pinnacle. Accepted values: pinnacle, fanduel, draftkings, betmgm, caesars, bet365, circa, westgate, wynn, south_point, stations, hardrock, betonline, betr, betrivers, lowvig, all, or a comma-separated list. One book or all = 1 credit."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max movements to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max movements to return"
          }
        ],
        "responses": {
          "200": {
            "description": "All recorded line movements (price or point changes) for the event, ordered newest-first. Useful for detecting sharp line movement. If no movement has been recorded for this event yet, returns 200 with an empty movements list and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Odds History V1 Events  Event Id  Odds History Get",
                  "$ref": "#/components/schemas/OddsHistoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/period-odds": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get first-half / first-five / first-set lines and live progress for an event",
        "description": "NFL, NCAAF, NBA, NCAAB, MLB, Soccer, and Tennis only. Joins persisted first_half_spreads / first_half_totals mains to this-event period scores (1H = Q1+Q2, NCAAB or soccer native 1H; MLB F5 = innings 1\u20135; tennis S1 = first-set games) and grades the period, not the full game. GET /odds stays on h2h/spreads/totals. Other sports return HTTP 400. available:false is free.",
        "operationId": "get_event_period_odds_v1_events__event_id__period_odds_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "One row per (scope, market, line) with per-book prices, scope scores, and result (in_progress until the scope is complete). 400 if the event's sport is not NFL, NCAAF, NBA, NCAAB, MLB, Soccer, and Tennis. 404 if the event does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Period Odds V1 Events  Event Id  Period Odds Get",
                  "$ref": "#/components/schemas/PeriodOddsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/player-props": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get player-prop lines and live progress for an event",
        "description": "NFL, NCAAF, NBA, NCAAB, NHL, and MLB only. Joins persisted player-prop mains to this-event player box rows and grades over/under/push (1:1 slugs, combo sums, weighted combos, and yes/no thresholds). GET /odds stays on h2h/spreads/totals. Other sports return HTTP 400. available:false is free. Market catalog: https://lumify.ai/docs/player-props",
        "operationId": "get_event_player_props_v1_events__event_id__player_props_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "One row per (player, market, line) with per-book Over/Under prices, the live counting stat (current), pct_of_line, and result (in_progress / over / under / push). 400 if the event's sport is not NFL, NCAAF, NBA, NCAAB, NHL, and MLB. 404 if the event does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Player Props V1 Events  Event Id  Player Props Get",
                  "$ref": "#/components/schemas/PlayerPropsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/prediction-markets": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get prediction-market game-line probabilities for an event",
        "description": "NFL, NCAAF, NBA, NHL, MLB, Soccer, and Tennis only. Persist-then-read from Fanatics Markets, Kalshi, and Polymarket. Prices are implied probabilities in (0, 1] \u2014 never American odds, never BOOK_SLUGS, never GET /odds. Game-line contracts only (h2h / spreads / totals; soccer 1X2 as three outcomes). Other sports return HTTP 400. available:false is free.",
        "operationId": "get_event_prediction_markets_v1_events__event_id__prediction_markets_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "One block per venue with game-line markets and 0\u20131 probabilities. 400 if the event's sport is not NFL, NCAAF, NBA, NHL, MLB, Soccer, and Tennis. 404 if the event does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Prediction Markets V1 Events  Event Id  Prediction Markets Get",
                  "$ref": "#/components/schemas/PredictionMarketsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/score": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get an event's score",
        "operationId": "get_event_score_v1_events__event_id__score_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Lightweight score snapshot: status, period, clock, and per-participant scores. Cache TTL is 30 s for in-progress events, 5 min otherwise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Score V1 Events  Event Id  Score Get",
                  "$ref": "#/components/schemas/ScoreResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/splits": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get public betting splits for an event",
        "description": "Public bets% and handle% per side (moneyline, spread, total), with a cross-book consensus and per-bookmaker breakdown. Bookmaker keys match /odds slugs (e.g. draftkings, fanduel) under bookmakers[].bookmaker. Available for MLB, NBA, NHL, NFL, NCAAF, and NCAAB. Not available for tennis or soccer (upstream 400). available:false is free.",
        "operationId": "get_event_splits_v1_events__event_id__splits_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Public bets% and handle% per side, per market, per bookmaker. Shape: bookmakers[].bookmaker (odds slug) + consensus averages. Available for MLB, NBA, NHL, NFL, NCAAF, and NCAAB; not for tennis or soccer. If no splits have been ingested for this event (or the sport is unsupported), returns 200 with available=false and is NOT charged (X-Credits-Used: 0).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Splits V1 Events  Event Id  Splits Get",
                  "$ref": "#/components/schemas/SplitsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/stats": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get raw team/match statistics for an event (Data layer)",
        "description": "Soccer, MLB, tennis, NFL, NCAAF, NBA, NCAAB, and NHL. Deterministic aggregates from completed results \u2014 no odds (see /odds) and no scoring (see /intelligence). Payload shapes are sport-specific (team-keyed except tennis). Tennis: main-draw singles only (doubles/qualifying return available:false). Form/record/H2H exclude walkovers and NFL/NCAAF/NBA/NCAAB preseason. Other sports return HTTP 400. available:false is free. Field catalog: https://lumify.ai/docs/reference#event-stats",
        "operationId": "get_event_stats_v1_events__event_id__stats_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Sport-specific Data-layer statistics. Soccer/MLB/NFL/NCAAF/NBA/NCAAB/NHL use teams.home/away; tennis uses players.player_1/player_2 plus match.scoreboard. Null/empty fields mean too few completed games, not a failed call. Catalog: https://lumify.ai/docs/reference#event-stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response 200 Get Event Stats V1 Events  Event Id  Stats Get",
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MlbStatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TennisStatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NflStatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NbaStatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NhlStatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NcaafStatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NcaabStatsResponse"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/stream": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Stream live score updates (SSE)",
        "operationId": "stream_event_score_v1_events__event_id__stream_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "text/event-stream of score updates; emits on change only.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/events/{event_id}/team-props": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get team-total lines and live progress for an event",
        "description": "NFL, NCAAF, MLB, and Soccer only. Joins persisted team-total mains to this-event participant scores and grades over/under/push. GET /odds stays on h2h/spreads/totals. Other sports return HTTP 400. available:false is free.",
        "operationId": "get_event_team_props_v1_events__event_id__team_props_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Lumify event ID",
              "title": "Event Id"
            },
            "description": "Lumify event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "One row per (team, line) with per-book Over/Under prices, the live team score (current), pct_of_line, and result (in_progress / over / under / push). 400 if the event's sport is not NFL, NCAAF, MLB, and Soccer. 404 if the event does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Event Team Props V1 Events  Event Id  Team Props Get",
                  "$ref": "#/components/schemas/TeamPropsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health",
        "operationId": "health_v1_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/ev": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List main-line EV (Beta) opportunities",
        "operationId": "list_intelligence_ev_v1_intelligence_ev_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sport slug. Predictive-framework sports only: soccer, mlb, tennis, nfl, ncaaf.",
              "title": "Sport"
            },
            "description": "Sport slug. Predictive-framework sports only: soccer, mlb, tennis, nfl, ncaaf."
          },
          {
            "name": "league",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional league slug (e.g. mls, epl, atp). Soccer without a league scans every published soccer league (MLS + big-five).",
              "title": "League"
            },
            "description": "Optional league slug (e.g. mls, epl, atp). Soccer without a league scans every published soccer league (MLS + big-five)."
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Main-line family: h2h (default, moneyline), spreads, or totals. Tennis totals return 400 \u2014 Stage 1 does not publish a games-total sharp.",
              "enum": [
                "h2h",
                "spreads",
                "totals"
              ],
              "default": "h2h",
              "title": "Market"
            },
            "description": "Main-line family: h2h (default, moneyline), spreads, or totals. Tennis totals return 400 \u2014 Stage 1 does not publish a games-total sharp."
          },
          {
            "name": "min_ev",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "description": "Minimum EV% to include. Clamped to 0\u201325. Default 0 (all positive).",
              "default": 0.0,
              "title": "Min Ev"
            },
            "description": "Minimum EV% to include. Clamped to 0\u201325. Default 0 (all positive)."
          },
          {
            "name": "book",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict opportunities to one sportsbook slug (e.g. fanduel).",
              "title": "Book"
            },
            "description": "Restrict opportunities to one sportsbook slug (e.g. fanduel)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max opportunities to return (1\u2013200).",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max opportunities to return (1\u2013200)."
          }
        ],
        "responses": {
          "200": {
            "description": "Pregame main-line rows (moneyline, spreads, or totals) whose sharp-fair price gap is positive and \u2264 25% EV, across upcoming predictive-framework events. Tennis totals are not offered. Beta. 1 credit. Field catalog: https://lumify.ai/docs/reference#intelligence-ev",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Intelligence Ev V1 Intelligence Ev Get",
                  "$ref": "#/components/schemas/IntelligenceEvResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/intelligence/forecasts": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List forecasted wagers (player props; main-line rows ship sport-by-sport)",
        "operationId": "list_intelligence_forecasts_v1_intelligence_forecasts_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Sport slug. Prop-forecast sports: mlb, ncaaf, nfl, nba, ncaab, nhl. Main-line forecast sports: tennis (moneyline, spreads, and totals).",
              "title": "Sport"
            },
            "description": "Sport slug. Prop-forecast sports: mlb, ncaaf, nfl, nba, ncaab, nhl. Main-line forecast sports: tennis (moneyline, spreads, and totals)."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC slate date YYYY-MM-DD. Defaults to today UTC.",
              "title": "Date"
            },
            "description": "UTC slate date YYYY-MM-DD. Defaults to today UTC."
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Main-line family filter (h2h, spreads, or totals). Tennis publishes all three (moneyline, game-handicap, total-games). Ignored on prop-only sports.",
              "enum": [
                "h2h",
                "spreads",
                "totals"
              ],
              "title": "Market"
            },
            "description": "Main-line family filter (h2h, spreads, or totals). Tennis publishes all three (moneyline, game-handicap, total-games). Ignored on prop-only sports."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Max wagers to return (1\u2013100). Default 25.",
              "default": 25,
              "title": "Limit"
            },
            "description": "Max wagers to return (1\u2013100). Default 25."
          }
        ],
        "responses": {
          "200": {
            "description": "Daily board of forecasted wagers from our model \u2014 player props (MLB, NCAAF, NFL, NBA, NCAAB, NHL) and tennis main-line (moneyline ML_P1/ML_P2, game-handicap SPREAD_P1/SPREAD_P2, and total-games OVER/UNDER). Each wager has p_hit (model probability the picked outcome hits), conviction (board rank), and posted books prices. Prop rows: player, market, line, side. Tennis moneyline rows: bet_type, player_role, market=h2h, no player/line. Tennis spread rows: bet_type, player_role, market=spreads, line. Tennis total rows: bet_type=OVER/UNDER, market=totals, line, no player/player_role (match-level). reliability is emerging on v0. Empty slate is still 200, still 1 credit. Same objects also appear per-event on GET /v1/events/{id}/intelligence as forecasts[]. Not an EV / claim-ladder surface \u2014 see GET /v1/intelligence/ev for gated main-line +EV. Field catalog: https://lumify.ai/docs/reference#intelligence-forecasts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Intelligence Forecasts V1 Intelligence Forecasts Get",
                  "$ref": "#/components/schemas/ForecastsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/players": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "List players",
        "operationId": "list_players_v1_players_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sport slug, e.g. 'tennis' or 'mlb'",
              "title": "Sport"
            },
            "description": "Sport slug, e.g. 'tennis' or 'mlb'"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Name search (partial match)",
              "title": "Q"
            },
            "description": "Name search (partial match)"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 3166-1 alpha-3 country code, e.g. 'USA'",
              "title": "Country"
            },
            "description": "ISO 3166-1 alpha-3 country code, e.g. 'USA'"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by active status",
              "title": "Active"
            },
            "description": "Filter by active status"
          },
          {
            "name": "ranked",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "If true, only tennis players with an ATP/WTA singles ranking (rankings.singles).",
              "title": "Ranked"
            },
            "description": "If true, only tennis players with an ATP/WTA singles ranking (rankings.singles)."
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Cursor: last player id from previous page",
              "default": 0,
              "title": "After Id"
            },
            "description": "Cursor: last player id from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayersListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/players/{player_id}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "Get a player",
        "operationId": "get_player_v1_players__player_id__get",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Player Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/players/{player_id}/events": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "List a player's events",
        "operationId": "get_player_events_v1_players__player_id__events_get",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Player Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Event status filter",
              "title": "Status"
            },
            "description": "Event status filter"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date YYYY-MM-DD",
              "title": "From"
            },
            "description": "Start date YYYY-MM-DD"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date YYYY-MM-DD",
              "title": "To"
            },
            "description": "End date YYYY-MM-DD"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Cursor: last event id from previous page",
              "default": 0,
              "title": "After Id"
            },
            "description": "Cursor: last event id from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerEventsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/query": {
      "post": {
        "tags": [
          "events"
        ],
        "summary": "Natural-language event search",
        "description": "Map a natural-language query to the same filters GET /v1/events accepts,\nthen run that exact list query \u2014 results are identical to, and as fresh\nas, calling /v1/events directly. This is a small rule-based mapper, not an\nLLM call \u2014 see the module-level `_parse_nl_query` docstring for exactly\nwhat it recognizes.\n\nBody: {\"query\": \"live nfl games today\", \"limit\": 25}\nAn explicit top-level \"limit\" overrides one parsed from the text. Costs 1\ncredit, same as GET /v1/events \u2014 interpreting the query text is free.",
        "operationId": "query_events_v1_query_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NLQueryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Events matching the parsed query, the interpreted filters, and their REST equivalent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NLQueryResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Query Events V1 Query Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/seasons": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "List seasons",
        "operationId": "list_seasons_v1_seasons_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by sport slug (e.g. nhl, nba, soccer)",
              "title": "Sport"
            },
            "description": "Filter by sport slug (e.g. nhl, nba, soccer)"
          },
          {
            "name": "current_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only currently active seasons (default true). Pass false to include historical/past seasons.",
              "default": true,
              "title": "Current Only"
            },
            "description": "Return only currently active seasons (default true). Pass false to include historical/past seasons."
          }
        ],
        "responses": {
          "200": {
            "description": "Seasons per sport/league, optionally filtered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/sports": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "List sports",
        "operationId": "list_sports_v1_sports_get",
        "parameters": [
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only active sports (default true)",
              "default": true,
              "title": "Active Only"
            },
            "description": "Return only active sports (default true)"
          }
        ],
        "responses": {
          "200": {
            "description": "Active sports with their leagues and current season summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/teams": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "List teams",
        "operationId": "list_teams_v1_teams_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sport slug, e.g. 'nba' or 'nhl'",
              "title": "Sport"
            },
            "description": "Sport slug, e.g. 'nba' or 'nhl'"
          },
          {
            "name": "league",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "League slug, e.g. 'nba'",
              "title": "League"
            },
            "description": "League slug, e.g. 'nba'"
          },
          {
            "name": "conference",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Conference filter",
              "title": "Conference"
            },
            "description": "Conference filter"
          },
          {
            "name": "division",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Division filter",
              "title": "Division"
            },
            "description": "Division filter"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO country code, e.g. 'USA'",
              "title": "Country"
            },
            "description": "ISO country code, e.g. 'USA'"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Team name search (partial match)",
              "title": "Q"
            },
            "description": "Team name search (partial match)"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by active status",
              "title": "Active"
            },
            "description": "Filter by active status"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Cursor: last team id from previous page",
              "default": 0,
              "title": "After Id"
            },
            "description": "Cursor: last team id from previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated team list, filterable by sport/league/conference/division/country.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/teams/{team_id}": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Get a team",
        "operationId": "get_team_v1_teams__team_id__get",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Lumify team ID",
              "title": "Team Id"
            },
            "description": "Lumify team ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Team profile with home venue.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/trial-key": {
      "post": {
        "tags": [
          "trial"
        ],
        "summary": "Issue an instant, unauthenticated trial API key",
        "description": "Issues a throwaway API key with no signup or email verification \u2014 100 lifetime credits, 14-day expiry, one per network per 7 days. Requires a valid Cloudflare Turnstile token. Intended for the 'Get instant trial key' button on /docs/ai, not for building a persistent integration \u2014 use /register for that.",
        "operationId": "create_trial_key_v1_trial_key_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrialKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "List webhook subscriptions",
        "operationId": "list_webhooks_v1_webhooks_get",
        "responses": {
          "200": {
            "description": "The caller's webhook subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "Create a webhook subscription",
        "operationId": "create_webhook_v1_webhooks_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": true,
                "type": "object",
                "title": "Payload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created webhook subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/webhooks/{subscription_id}": {
      "delete": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "Delete a webhook subscription",
        "operationId": "delete_webhook_v1_webhooks__subscription_id__delete",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Subscription Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },
    "/v1/webhooks/{subscription_id}/deliveries": {
      "get": {
        "tags": [
          "events",
          "events"
        ],
        "summary": "List delivery history for a webhook subscription",
        "operationId": "list_webhook_deliveries_v1_webhooks__subscription_id__deliveries_get",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Subscription Id"
            }
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor: return deliveries with id < after_id (list is newest-first)",
              "title": "After Id"
            },
            "description": "Cursor: return deliveries with id < after_id (list is newest-first)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "success",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to successful (2xx) or failed deliveries",
              "title": "Success"
            },
            "description": "Filter to successful (2xx) or failed deliveries"
          },
          {
            "name": "given_up",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to deliveries that exhausted retries (or not)",
              "title": "Given Up"
            },
            "description": "Filter to deliveries that exhausted retries (or not)"
          },
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event type (score, status, line_move, intelligence)",
              "title": "Event Type"
            },
            "description": "Filter by event type (score, status, line_move, intelligence)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated delivery attempts, newest first. Retries appear as their own rows, linked via parent_delivery_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveryListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AgentApiKey": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "key_prefix": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Key Prefix"
          },
          "scopes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scopes"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "last_used_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Used At"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At"
          },
          "is_active": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Active"
          },
          "key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Key",
            "description": "Full API key \u2014 returned once on create."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentApiKey"
      },
      "AgentApiKeyListResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/AgentApiKey"
            },
            "type": "array",
            "title": "Data",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentApiKeyListResponse"
      },
      "AgentApiKeyRevokeResponse": {
        "properties": {
          "revoked": {
            "type": "boolean",
            "title": "Revoked",
            "default": true
          },
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentApiKeyRevokeResponse"
      },
      "AgentCreditsResponse": {
        "properties": {
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "credits_used": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credits Used"
          },
          "credit_limit": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Limit"
          },
          "bonus_credits": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bonus Credits"
          },
          "total_remaining": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Remaining"
          },
          "period_start": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period Start"
          },
          "period_end": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period End"
          },
          "is_trial": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Trial"
          },
          "is_trial_expired": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Trial Expired"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "AgentCreditsResponse"
      },
      "BatchEventsRequest": {
        "properties": {
          "event_ids": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "maxItems": 25,
            "minItems": 1,
            "title": "Event Ids",
            "description": "Event ids to fetch (max 25). Duplicates are billed once."
          },
          "include_odds": {
            "type": "boolean",
            "title": "Include Odds",
            "description": "Inline current odds on each event. Scoped by bookmaker (default: pinnacle). Does not add credits \u2014 each found event stays 1 credit.",
            "default": false
          },
          "include_intelligence": {
            "type": "boolean",
            "title": "Include Intelligence",
            "description": "Inline bet intelligence on each event. Does not add credits.",
            "default": false
          },
          "bookmaker": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bookmaker",
            "description": "Bookmaker for inlined odds and intelligence market prices. Defaults to pinnacle; 'all' or a comma-separated list for multiple books."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "event_ids"
        ],
        "title": "BatchEventsRequest"
      },
      "BatchEventsResponse": {
        "properties": {
          "events": {
            "items": {
              "$ref": "#/components/schemas/EventDetail"
            },
            "type": "array",
            "title": "Events",
            "default": []
          },
          "not_found": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Not Found",
            "description": "Requested event_ids that don't exist. Never billed.",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "default": 0
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "BatchEventsResponse"
      },
      "BetIntelligence": {
        "properties": {
          "bet_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bet Type",
            "description": "Canonical bet token, e.g. ML_HOME/ML_AWAY/ML_DRAW (soccer), ML_P1/ML_P2 (head-to-head sports), SPREAD_HOME/SPREAD_AWAY, OVER, UNDER."
          },
          "player_role": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Player Role",
            "description": "'home'/'away' for team sports or 'p1'/'p2' for head-to-head sports. Null for match-level tokens (OVER, UNDER, ML_DRAW), which are not about either side."
          },
          "player_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Player Id",
            "description": "Player ID when this bet is about an individual player; null for team bets and match-level tokens (OVER, UNDER, ML_DRAW)."
          },
          "team_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Team Id",
            "description": "Team ID when this bet is about a team; null for individual-player bets and match-level tokens (OVER, UNDER, ML_DRAW). A draw is not a bet on either team, so ML_DRAW carries no team_id \u2014 safe to sum exposure by team_id across bets without double-counting the draw."
          },
          "player_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Player Name",
            "description": "Display name of the player or team this bet is about; null for match-level tokens (OVER, UNDER, ML_DRAW). Duplicates `players[player_role].name` for convenience when flattening bets[]."
          },
          "market": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Market",
            "description": "Market quote used for this bet: {price: American odds, line: handicap/total line or null for moneyline, book: bookmaker slug when known}. For predictive-framework sports `book` is always populated from the assessment; for legacy sports it may be omitted. Present for every sport."
          },
          "computed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Computed At",
            "description": "ISO-8601 UTC timestamp of when this bet's numbers last materially changed \u2014 not when they were last checked. The publisher re-runs on a schedule but only rewrites a row when the price, line, or probability moves beyond a tolerance, so an older `computed_at` means 'unchanged since', not 'stale'. Values legitimately differ between bets on the same event because each market moves independently."
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier",
            "description": "Recommendation tier: 'very_high', 'strong', 'moderate', or 'avoid'. Null whenever `edge` is null \u2014 a tier ranks a bet against its price."
          },
          "confidence_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
[...]
